{% extends "base.html" %}

{% block body %}
  <div>加水印(请注意图片不能太小 否则无法嵌入水印)</div>
  <div>
    <form action="/" method="POST"  enctype="multipart/form-data">
    <input type="file" title="选择图片"
    id="avatar" name="avatar"
    accept="image/png, image/jpeg" multiple/>

    
    <br>
    水印文字: <input type="text" title="水印文字"
    id="text" name="text"/>
    <br>
    <button type="submit">上传图片</button>

    </form>
    <div>
      加水印前图片
    </div>
    <div>
      <img  height=150 src="{{ static_url('watermark/origin.png') }}" >
      
    </div>

    <div>
      水印图
    </div>
    <div>
      <img   height=150 src="{{ static_url('watermark/watermark.png') }}" >
      
    </div>
    <div>
      加水印后图片
    </div>
    <div>
      <img height=150 src="{{ static_url('watermark/watermarked.png') }}" >
    </div>

    <a href="/dewatermark"> 解水印</a>
   </div>
{% end %}
